.card_container {
  width: 230px;
  height: 230px;
  background: green;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_imgBox {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card_img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  backdrop-filter: cover;
}

.card_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111;
}
.section.level {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
}
